<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ExchangeProviders" type="CurrencyExchangeProvider.CurrencyExchangeProviderConfiguration.ExcahngeProviderconfiguration, CurrencyExchangeProvider" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CurrencyExchangeAPI-20170502212614;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CurrencyExchangeAPI-20170502212614.mdf" />
  </connectionStrings>
  <ExchangeProviders default="yahoo">
    <providers>
      <add name="oanda" type="CurrencyExchangeProvider.ExchangeProviders.OandaExchangeProvider, CurrencyExchangeProvider" isActive="true" isAuthRequired="false" />
      <add name="xe" type="CurrencyExchangeProvider.ExchangeProviders.XeExchangeProvider, CurrencyExchangeProvider" isActive="true" isAuthRequired="false" />
      <add name="yahoo" type="CurrencyExchangeProvider.ExchangeProviders.YahooExchangeProvider, CurrencyExchangeProvider" isActive="true" isAuthRequired="true" callerId="bharat" callerPassword="123456" />
    </providers>
  </ExchangeProviders>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File"
				fileName="${basedir}\logs\app-log.txt"
				archiveFileName="${basedir}\logs\archives\app-log.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7" />
      <target name="errors" xsi:type="File"
				fileName="${basedir}\logs\app-errors.txt"
				archiveFileName="${basedir}\logs\archives\app-errors.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
      <logger name="*" minlevel="Error" writeTo="errors" />
    </rules>
  </nlog>
    <appSettings>

    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
